/* Etusivun alotusscreenin tyylit 
- ehkä vähän innostuin ton ravun kaa :D t.Veera*/

.heroText {
  text-align: center;
  color: #10295f;
  background-color: #a0c6ec;
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  padding: 100px 0px 20px 0px;
}

@media screen and (min-width: 600px) {
  .heroText {
    height: 90vh;
  }
}

.titleNbutton {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  margin-bottom: 20px;
}

.date {
  font-size: 32px;
}

.motto {
  margin: 0px 50px;
}

.callToAction {
  display: none;
}

#rapuContainer {
  padding: 20px;
}

.rapu1 {
  position: absolute;
  left: -90px;
  height: 60vh;
  top: 64vh;
  max-height: 300px;
}

@media screen and (min-width: 619px) and (min-height: 500px) {
  .callToAction {
    display: inline;
    font-size: 20px;
    color: #10295f;
    border-color: #10295f;
    border-radius: 10px;
    align-self: stretch;
  }

  .callToAction:hover {
    background-color: #10295f;
    color: #a6cffa;
    border-color: #3183da77;
  }

  .callToAction:focus {
    background-color: #10295f;
    color: #a6cffa;
    border-color: #3183da77;
  }

  .heroText {
    padding: 200px 20px 25px 20px;
  }
}

@media screen and (max-height: 600px) {
  .rapu1 {
    top: 410px;
  }
}

@media screen and (min-height: 800px) and (max-width: 700px) {
  .rapu1 {
    left: 30px;
  }
}

@media screen and (min-width: 800px) and (min-height: 700px) {
  .rapu1 {
    left: 50px;
    height: 50vh;
  }
}
