/* Suoraan alotussivun alla olevan esittely tekstin tyylit */

.introContainer {
  width: 100vw;
}

.spacer {
  height: 12vh;
}

/* @media screen and (min-width: 850px) {
  .spacer {
    height: 10vw;
  }
} */

.card-title {
  color: #10295f;
}

.card-body {
  min-width: 80vw;
}

@media screen and (min-width: 400px) {
  .card-body {
    min-width: 350px;
  }
}

.card-container {
  min-height: 300px;
}

.card:hover {
  cursor: pointer;
  background-color: rgb(238, 246, 253);
  padding-top: 4px;
  box-shadow: 0 0 25px 0px rgba(101, 103, 185, 0.655), 10px 10px 10px 0px rgba(9, 9, 16, 0.655);
}

.card-image {
  height: 20vh;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.icon {
  font-size: max(15vh, 124px);
}
/* 
@media screen and (min-width: 570px) {
  .card-container {
    min-height: 350px;
  }
}

@media screen and (min-width: 870px) {
  .card-container {
    min-height: 450px;
  }
} */
