/* Navigointipalkin tyylit */

#navigationBar {
  position: fixed;
  width: 100vw;
  font-size: 20px;
}

.navbar-nav {
  margin-left: auto;
  padding-top: 10px;
}

.nav-item.ps-5 {
  color: #dae0ed;
  transition: color 0.3s ease-out;
}

.nav-item.ps-5:hover {
  color: #bfd0f8;
  text-shadow: 1px 1px 10px rgb(16, 7, 68) ;
}

/* .nav-item.ps-5:focus {
  color: #97b2f3;
} */
